In [ ]:
import pandas as pd

In [ ]:
df_social_distancing = pd.read_csv('safegraph_data_by_county.csv')

In [ ]:
df_social_distancing = df_social_distancing[(df_social_distancing['date_range_start'] >= '2020-01-03') & (df_social_distancing['date_range_start'] <= '2020-02-06')]
df_social_distancing['day_of_week'] = df_social_distancing['date_range_start'].apply(lambda x: pd.to_datetime(x).dayofweek)

avg_columns = ['completely_home_device_count', 'part_time_work_behavior_devices', 'full_time_work_behavior_devices', 'delivery_behavior_devices', 'total_home_dwell_time', 'total_non_home_dwell_time']

for c in avg_columns:
  df_social_distancing[c] = df_social_distancing.apply(lambda x: x[c]/x['device_count'], axis=1)

In [ ]:
df_baseline = df_social_distancing.groupby(['county_code', 'day_of_week']).median().reset_index()
del df_baseline['state']

In [ ]:
df_baseline

       county_code  ...  total_non_home_dwell_time
0             1001  ...                 285.985034
1             1001  ...                 343.741011
2             1001  ...                 357.099507
3             1001  ...                 353.535040
4             1001  ...                 341.620411
...            ...  ...                        ...
22577        78030  ...                 172.153392
22578        78030  ...                 148.330171
22579        78030  ...                 184.000972
22580        78030  ...                 110.194503
22581        78030  ...                  84.497589

[22582 rows x 9 columns]

In [ ]:
df_baseline.to_csv('safegraph_baseline.csv')